:root {
    --background-color: rgb(255, 251, 252);
    --main-color: rgb(248, 222, 255);
    --accent-color1: rgb(235, 162, 174);
    --accent-color2: rgb(231, 98, 120);
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.discordapp.com/attachments/848817257303900162/1054350523010142290/4096.png");
    background-attachment: scroll;
    background-repeat: no-repeat, repeat-y;
    background-position: top;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #111;
    margin: 0.5em 0 0.2em 0;
    line-height: 1.2;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}

p {
    margin: 0.5em 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: var(--accent-color1);
    text-decoration: underline;
}

hr {
    margin: 1.5em 0;
    border: 0;
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    max-height: 40px;
    padding: 10px;
    /* background-color: #e37b85; */
    background: linear-gradient(to bottom, rgb(78, 78, 78) 0%, rgba(0,0,0,0) 100%);
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    align-self: center;
    margin: 0 10px;
}

.pfp:hover {
    left: 0;
    top: 0;
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
}

.pfp {
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.main {
    max-width: 1000px;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
    
    margin: auto;
    background-color: var(--main-color);
}

/* footer {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    border-top: 1px #b11e04;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, rgb(169, 169, 169) 0%, rgba(0,0,0,0) 100%);
}

.footer-note {
    border-top: 1px #111 solid;
    font-size: 1rem;
} */