.graph-container {
    /* display: flex; */
    align-self: center;
    grid-gap: 1px;
    width: 1000px;
    height: 500px;
    /* background-color: var(--accent-color2); */
    /* margin-top: -90px; */
}

.graph-node {
    fill: var(--accent-color1);
    text-align: center;
}

.graph-link {
    stroke: var(--accent-color3);
    stroke-width: 0.2rem;
    stroke-opacity: 0.6;
}

.main {
    max-width: 1200px;
}

@media screen and (min-width: 1000px) {
    .platform {
        display: flex;
    }
}

.platform {
    padding: 1rem;
    gap: 1rem;
    border-radius: var(--border-radius);
    margin-bottom: 1.2rem;
    background-image: linear-gradient(to bottom,rgb(128, 233, 163, 0.3), rgba(255, 255, 255, 0));
}

.platform > * {
    flex-basis: 100%;
}

.platform:hover {
    background-color: rgba(1, 1, 1, 0.1);
    transition: background-color 0.25s;
}

.photo > :nth-child(1) {
    aspect-ratio: 16 / 9;
    max-height: 100%;
    width: 100%;
    border-radius: var(--border-radius);    
}